@import "tailwindcss";

.nav{
    z-index: 1000;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
  display: inline-flex;
}